
* { margin:0; padding:0; box-sizing:border-box; font-family:sans-serif; scroll-behavior: smooth; }


.nav{position: fixed;top: 0;width: 100%;background:rgba(248, 248, 248, 0.85);padding: 12px;text-align: center;word-spacing: 10px;font-weight: bold;}
.nav__link{color: #0f0101;margin: 25px;text-decoration: none;font-family: sans-serif;transition: 0.3s;}
.nav__link:hover{color:#b92b12}



.herosection{height: 100vh;display: flex;flex-direction: column;justify-content: center;align-items: center;text-align: center;background:linear-gradient(135deg,#c06824,#764ba2);color: #fff;}
.herosection__title{font-size: 3rem;margin-bottom: 15px;}
.herosection__text{font-size: 1.5rem;margin-bottom: 25px;max-width: 1000px;}
.herosection__btn{border: none;border-radius: 20px;font-size: 1rem;padding: 12px 15px;background:linear-gradient(90deg,#0b85a3) ;transition: 2s;cursor: pointer;}
.herosection__btn:hover{opacity: 0.85;}


.section{padding: 50px 20px; text-align: center;opacity: 0;transform: translateY(30px);transition: 1s;font-size: 1.3rem;}
.section--show{opacity: 1;transform: translateY(0);}


.footer{background: #f16d6d;color: #fff;text-align: center;padding: 15px;}

.image{background-image: url(https://images.unsplash.com/photo-1623479322729-28b25c16b011?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8d2ViJTIwZGV2ZWxvcGVyfGVufDB8fDB8fHww); background-position: center; background-repeat: no-repeat; background-size: cover; color: white;}

#p_1{height: 40px; width: 40px;}

.p_1{display: inline; text-align: center;  margin-bottom: -10px;}

.p_2{display: inline; margin-bottom: -10px; margin-top: 10px;}